/* line 20, /home/fabien/git/rulu2014/source/css/page.css.scss */
body {
  font-size: 15px;
  color: #db9693;
  background: #8a0f0c;
  margin: 0;
  padding: 0; }

/* line 29, /home/fabien/git/rulu2014/source/css/page.css.scss */
a {
  text-decoration: none; }
  /* line 32, /home/fabien/git/rulu2014/source/css/page.css.scss */
  a:focus, a:hover, a:active {
    text-decoration: none; }

/* line 37, /home/fabien/git/rulu2014/source/css/page.css.scss */
.container {
  margin: auto;
  width: 988px;
  max-width: 100%;
  position: relative; }

/* line 44, /home/fabien/git/rulu2014/source/css/page.css.scss */
#topbar {
  background: #8a0f0c;
  border-bottom: 1px solid #9f2723; }
  /* line 48, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #topbar #logo {
    z-index: 1;
    position: absolute;
    left: 0px; }
    /* line 53, /home/fabien/git/rulu2014/source/css/page.css.scss */
    #topbar #logo a {
      background: url("/img/rulu_2014-3c3b9974.png") no-repeat;
      display: block;
      width: 270px;
      height: 205px;
      text-decoration: none;
      text-indent: -9999px;
      margin: 0 auto;
      float: left; }
  /* line 65, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #topbar nav {
    height: 5em; }
    /* line 68, /home/fabien/git/rulu2014/source/css/page.css.scss */
    #topbar nav ul {
      margin: 0 auto;
      margin-top: 1em;
      margin-right: 1em;
      position: absolute;
      right: 0;
      top: 0; }
      /* line 76, /home/fabien/git/rulu2014/source/css/page.css.scss */
      #topbar nav ul li {
        display: inline;
        float: left; }
        /* line 80, /home/fabien/git/rulu2014/source/css/page.css.scss */
        #topbar nav ul li a {
          margin-left: 1em;
          font-size: 1.2em;
          line-height: 2em;
          display: block;
          text-transform: uppercase;
          color: #db9693; }
          /* line 89, /home/fabien/git/rulu2014/source/css/page.css.scss */
          #topbar nav ul li a:focus, #topbar nav ul li a:hover, #topbar nav ul li a:active {
            color: white; }

/* line 98, /home/fabien/git/rulu2014/source/css/page.css.scss */
#pageheader {
  position: relative;
  padding: 0;
  padding-top: 1.5em;
  min-height: 65px;
  margin: 0;
  background: #951b16; }
  /* line 107, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #pageheader h1 {
    text-align: right;
    text-transform: uppercase;
    line-height: 1.20em;
    font-size: 2.4em;
    color: white;
    padding: 0;
    margin: 0;
    margin-right: 0.5em; }

/* line 120, /home/fabien/git/rulu2014/source/css/page.css.scss */
#content {
  color: #444444;
  background: white;
  min-height: 500px; }
  /* line 126, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #content .container .nested {
    padding: 1em; }
  /* line 130, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #content h2 {
    margin-top: 3em;
    color: #333333; }
  /* line 135, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #content a {
    color: red; }
    /* line 138, /home/fabien/git/rulu2014/source/css/page.css.scss */
    #content a:focus, #content a:hover, #content a:active {
      color: red; }

/* line 144, /home/fabien/git/rulu2014/source/css/page.css.scss */
footer {
  background: #8a0f0c;
  color: #db9693; }
  /* line 148, /home/fabien/git/rulu2014/source/css/page.css.scss */
  footer a {
    color: #db9693; }
    /* line 151, /home/fabien/git/rulu2014/source/css/page.css.scss */
    footer a:focus, footer a:hover, footer a:active {
      color: white; }
  /* line 156, /home/fabien/git/rulu2014/source/css/page.css.scss */
  footer .links {
    padding: 1em;
    height: 2em;
    line-height: 2em; }
    /* line 161, /home/fabien/git/rulu2014/source/css/page.css.scss */
    footer .links .previous-editions {
      float: left; }
    /* line 165, /home/fabien/git/rulu2014/source/css/page.css.scss */
    footer .links .newsletter {
      float: right; }

@media screen and (max-device-width: 640px) {
  /* line 172, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #topbar #logo {
    top: 42px;
    left: 10px; }
    /* line 176, /home/fabien/git/rulu2014/source/css/page.css.scss */
    #topbar #logo a {
      background: url("/img/lyonrb_revamped_white_small-7ded6f16.png") no-repeat;
      width: 150px;
      height: 83px; }

  /* line 183, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #content {
    min-height: 300px; }
    /* line 186, /home/fabien/git/rulu2014/source/css/page.css.scss */
    #content h2 {
      margin-top: 1em; }

  /* line 191, /home/fabien/git/rulu2014/source/css/page.css.scss */
  #pageheader {
    min-height: 70px; } }
/* line 197, /home/fabien/git/rulu2014/source/css/page.css.scss */
.nested a {
  text-decoration: underline;
  color: red; }
  /* line 201, /home/fabien/git/rulu2014/source/css/page.css.scss */
  .nested a:focus, .nested a:hover, .nested a:active {
    text-decoration: underline;
    color: red; }

/* line 208, /home/fabien/git/rulu2014/source/css/page.css.scss */
.nested.homepage, .nested.about {
  text-align: center; }
  /* line 211, /home/fabien/git/rulu2014/source/css/page.css.scss */
  .nested.homepage p, .nested.about p {
    max-width: 400px;
    margin: 1em auto; }
  /* line 216, /home/fabien/git/rulu2014/source/css/page.css.scss */
  .nested.homepage em, .nested.about em {
    text-decoration: underline;
    font-style: normal; }
